<header>
	<div class="max-w-xl mx-auto text-center py-24">
		<h1 class="text-base-800 font-medium md:text-4xl text-3xl">
			Offizieller <span class="text-bochumb">istscheis</span>.se
			Microstore
		</h1>
		<p class="mt-2 text-base-500 text-balance text-sm">
			Hier findest du unsere exklusiven Sticker zum Kleben in deiner
			Stadt. Coming soon...
		</p>
		<div class="flex justify-center flex-wrap gap-3 mt-4">
			<a
				class="px-4.5 font-medium h-9 text-xs bg-bochumb text-white rounded-full flex items-center justify-center hover:bg-logodb duration-300 w-fit"
				href="https://dortmund.istscheis.se"
				>Dortmund
			</a>
			<a
				class="px-4.5 font-medium h-9 text-xs bg-base-50 text-base-900 rounded-full flex items-center justify-center hover:bg-base-100 duration-300 w-fit"
				href="https://search.istscheis.se"
				>Suche
			</a>
		</div>
	</div>
</header>
