---
import "../styles/global.css";
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Basic Meta Tags -->
<title>Shops sind scheis.se</title>
<meta
	name="Sticker Shop von istscheis.se"
	content="Der offizielle Sticker Shop von istscheis.se. Bestelle unsere offiziellen Sticker."
/>
<meta
	name="keywords"
	content="Sticker, istscheis.se, Shop, Offiziell, Bestellen"
/>
<meta name="author" content="infinitel8p" />

<!-- Favicons -->
<link rel="icon" href="/favicon.svg" sizes="any" />
<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
<link rel="apple-touch-icon" href="/favicon.png" />
<!-- <link rel="manifest" href="/manifest.webmanifest" /> -->

<!-- Favicon for IE -->
<link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml" />

<!-- Favicons for different sizes -->
<!-- <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="48x48" href="/favicon-48x48.png" /> -->

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://shop.istscheis.se/" />
<meta property="og:title" content="Sticker Shop von istscheis.se" />
<meta
	property="og:description"
	content="Der offizielle Sticker Shop von istscheis.se. Bestelle unsere offiziellen Sticker."
/>
<meta
	property="og:image"
	content="https://shop.istscheis.se/path/to/image.jpg"
/>

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://shop.istscheis.se/" />
<meta property="twitter:title" content="Sticker Shop von istscheis.se" />
<meta
	property="twitter:description"
	content="Der offizielle Sticker Shop von istscheis.se. Bestelle unsere offiziellen Sticker."
/>
<meta
	property="twitter:image"
	content="https://shop.istscheis.se/favicon.jpg"
/>

<!-- Canonical URL -->
<link rel="canonical" href="https://shop.istscheis.se/" />

<!-- Additional SEO -->
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<!-- Apple Touch Icon (already included in favicons, but keeping for backwards compatibility) -->
<link rel="apple-touch-icon" sizes="180x180" href="/favicon.png" />

<!-- Theme Color for Mobile Browsers -->
<meta name="theme-color" content="#3E433E" />

<!-- For IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
