<footer>
	<div class="justify-center w-fit mx-auto text-center py-12">
		<p class="font-medium text-base text-base-900">
			&copy; {new Date().getFullYear()}
			<span class="text-bochumb">istscheis.se</span>
		</p>
		<p class="text-sm mt-1 text-base-500">Alle Rechte vorbehalten.</p>
	</div>
</footer>
